body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-black:#212121;
  --color-white:#fff;
  --color-gray:#e8ecfe;
  --color-blue-5:#b2c6f9;
  --color-blue:#1250DC;
  --color-red:#F84A3D;
}

li{
  list-style: none;
  
}

.body{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray);
}

.money{
  color:var(--color-blue);
  font-weight:600;
  justify-content: space-between;
}